<div class="container_cms">
    <h2>Informativa sui Cookies</h2>
    <p>
    Un "cookie" è un piccolo file di testo creato sul computer dell'utente al momento in cui questo accede ad un determinato sito, con lo scopo di immagazzinare e trasportare informazioni.<br>
    I cookie sono inviati da un server web (che è il computer sul quale è in esecuzione il sito web visitato) al browser dell'utente (Internet Explorer, Mozilla Firefox, Google Chrome, ecc.) e memorizzati sul computer di quest'ultimo; vengono, quindi, re-inviati al sito web al momento delle visite successive.
    </p>
    
    <h3>Cookies utilizzati</h3>
    <p>
    In questo sito si utilizzano solo cookie tecnici strettamente necessari alla navigazione e configurazione del sito, rispetto ai quali, ai sensi dell'art. 122 del codice privacy e del Provvedimento del Garante dell'8 maggio 2014, non è richiesto alcun consenso da parte dell'interessato.
    </p>
    
    <p>
    Nessun dato personale degli utenti viene in proposito acquisito dal sito.
    </p>
    <p>
    Non viene fatto uso di cookies per la trasmissione di informazioni di carattere personale, nè vengono utilizzati cookies di profilazione utenti oppure cookies di terze parti persistenti di alcun tipo, ovvero sistemi per il tracciamento degli utenti.
    </p>
    
    <h3>Disabilitazione dei cookie</h3>
    <p>Fermo restando quanto sopra indicato in ordine ai cookie strettamente necessari alla navigazione, ciascun browser presenta procedure diverse per la gestione delle impostazioni di rimozione dei cookies; l'utente può ottenere istruzioni specifiche attraverso i link sottostanti:</p>
    <ul>
    <li><a href="http://windows.microsoft.com/it-it/windows7/block-enable-or-allow-cookies">Microsoft Windows Explorer</a></li>
    <li><a href="https://support.google.com/chrome/answer/95647?hl=it&amp;p=cpn_cookies">Google Chrome</a></li>
    <li><a href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie?redirectlocale=en-US&amp;redirectslug=Enabling+and+disabling+cookies">Mozilla Firefox</a></li>
    </ul>
    <p>Se non utilizza nessuno dei browser sopra elencati, selezioni “cookie” nella relativa sezione della guida del suo browser per scoprire dove si trova la cartella dei cookie.</p>
    
    
    </div>