<div class="container_cms">
    <h2>Crediti</h2>
    <div class="credits-title">Prodotto realizzato da <b>Maggioli S.p.A.</b></div> <br>
    <div class="credits-sub-title"><b>Soluzioni e Servizi Software</b>  area  <b>Appalti &amp; Contratti</b> Public Procurement lifecycle Management</div> <br>
    
    <div class="credits-image"><img src="assets/icons/logo_maggioli.png" alt=""></div>
    <div class="credits-info">
    <b>Gruppo Maggioli</b><br>
    Via del Carpino, 8<br>
    Santarcangelo di Romagna (RN) - Italia
    </div><br>
    <div><b>{{ 'VERSIONE' | translate }}:</b> {{ appVersion }}</div>
    
    </div>