<div class="container_cms">
    <h2>Disclaimer</h2>
    <p>
        Il Service Provider (Gestore del Sistema e/o Stazione Appaltante), nei casi di utilizzo scorretto od improprio del software e comunque di qualsiasi violazione della normativa vigente perpetrata dall’Utente, è manlevato e tenuto indenne, anche rispetto ai terzi, da qualunque danno, costo e onere di qualsiasi natura, ivi comprese le eventuali spese legali che dovessero essere da questi sofferti.

        E' esonerato da ogni responsabilità per eventuali malfunzionamenti o difetti dei servizi di connettività necessari a raggiungere, attraverso le reti di telecomunicazione, l'applicazione.

        L’accesso al software potrà essere sospeso o limitato in qualsiasi momento per consentire interventi di manutenzione straordinaria necessaria a garantire l’evoluzione, la piena funzionalità e/o la sicurezza dello stesso.

        Le circostanze di sospensione e/o limitazione dell’accesso non potranno essere utilmente invocate ai fini di eventuale pretesa risarcitoria danni da parte dell’Utente e/o del suo avente causa.
    </p>           
</div>
