<div class="container_cms">
    <h2>Privacy</h2>
    <p>
        I dati inseriti nell'applicazione per la compilazione del DGUE sono memorizzati nel browser dell'utente che li può salvare localmente mediante l'esportazione nel formato standard XML ESDP secondo le specifiche  eDGUE-it di AGID, oppure in forma di stampa PDF.<br>    
        Nessun dato viene conservato nei server dell'applicazione DGUE. L'esportazione in formato XML prevede l'invio dei dati dal browser dell'utente al server ai soli fini della trasformazione nel formato XML; i dati vengono trasferiti su canale cifrato, gestiti dal server "in memoria" per la sola trasformazione e restituiti al browser dell'utente per il download del file.<br>  
        Nel caso di integrazione con la piattaforma di e-procurement possono essere recuperati i dati anagrafici dell'operatore economico e dei relativi soggetti; in questo caso vengono scaricati dalla piattaforma al browser dell’utente riconducendosi poi al caso precedente. Per il trattamento dei dati sulla piattaforma di e-procurement si rimanda alla Stazione Appaltante utilizzatrice.<br>  
    </p>           
</div>
