<div #content class="content" >  
    <div class="warning-panel" #warningspanel></div>
    <sdk-form-builder [config]="formBuilderConfigObsAll" [data]="formBuilderDataSubject" (output)="manageFormOutputAll($event)"></sdk-form-builder>  
</div>
<div class="loader theme-showcase" *ngIf="!isConverted">
    <div class="loading-mask"></div>
    <div class="loading-text">Caricamento in corso...</div>  
</div>
<div class="error-panel error-panel-avvio" #errorspanel></div>
<app-navigation-button [nextPage]=nextPage [previousPage]=previousPage [download]=downLoadFile [subDownload]=subDownload  [fromPortale]=fromPortale [valid]=valid [env]=env [pagename]=pagename></app-navigation-button>