
<app-breadcrumb [showBreadcrumbs]=showBreadcrumbs [classConfig]=breadcrumbsConfig [procedura]=procedura [esclusione]=esclusione [selezione]=selezione [fine]=fine></app-breadcrumb>
<div class="content"> 
   <sdk-form-builder [config]="formBuilderConfigObs" [data]="formBuilderDataSubject" (output)="manageFormOutput($event)">
   </sdk-form-builder>
</div>
<app-navigation-button [nextPage]=nextPage [previousPage]=previousPage [nextCallback]= preNext [previousCallback]=prePrevious [selectUser]=selectUser [fromPortale]=fromPortale [pagename]=pagename></app-navigation-button>




